@model GiftCardManagementSystem.Admin.Models.User.UserRequestModel

<h2 class="mb-4">Create User</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <p style="color:red">@ViewBag.ErrorMessage</p>
        }

        @using (Html.BeginForm("UserCreate", "User", FormMethod.Post))
        {
            <div class="mb-3">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-3 col-sm-4 control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-3 col-sm-4 control-label" })
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Phone" })
                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.MaxLimit, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.MaxLimit, new { @class = "form-control", @placeholder = "Discount", type = "number", min = "0" })
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        }

    </div>
</div>
